
@{
    ViewBag.Title = "Reserva";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/dataTables/datatables.min.css" rel="stylesheet" />
@*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">*@
@*<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>*@
<h2>Reserva Disponibilidad</h2>
<br />
<div class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-md-2"> Tipo Alojamiento</label>
        <div class="col-md-4">
            @Html.DropDownList("TipoAlojamiento",
                    ViewBag.TipoAlojamiento as SelectList, new { @class = "form-control" })
        </div>

        <label class="control-label col-md-1"> Municipio</label>
        <div class="col-md-5">
            @Html.DropDownList("Municipio",
                    ViewBag.Municipio as SelectList, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2"> Fecha Inicio</label>
        <div class="col-md-4">
            <input type="date" id="fechaInicio" name="fechaInicio">
        </div>

        <label class="control-label col-md-1"> Fecha Fin</label>
        <div class="col-md-5">
            <input type="date"id="fechaFin" name="fechaFin">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2"> cantidad Personas</label>
        <div class="col-md-4">
            <input name="txtCanPersonas" id="txtCanPersonas" type="number" />
        </div>
        <div class="col-md-offset-1 col-md-4">
            <input type="button" value="Consultar" id="btnBuscar" name="btnBuscar" onclick="LlenarTabla()" class="btn btn-danger " />
        </div>
    </div>
    <br />
    <div id="tablaExample" class="display" >

    </div>
</div>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    tbody {
        height: 80em;
        overflow: scroll;
    }
</style>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript">  
    fechaFin.min = new Date().toISOString().split("T")[0]
    fechaInicio.min = new Date().toISOString().split("T")[0]
    function LlenarTabla() {
        $("#tablaExample").show();

        $("#tablaExample tr").each(function (index) {
            //$(this).remove();

            let element = document.getElementById("tablaExample");
            while (element.firstChild) {
                element.removeChild(element.firstChild);
            }
        })
        var validar = 0;

        if ($("#fechaInicio").val() == '' || $("#fechaFin").val() =='') {
            alert("Debe seleccionar un rango de fechas para realizar la busqueda");
            validar = 1;
        }
        if (validar ==0) {
            $.ajax({
                url: "/Reserva/Llenar",
                type: 'Post',
                cache: false,
                data: { fechaini: $("#fechaInicio").val(), fechaFin: $("#fechaFin").val(), tipo: $("#TipoAlojamiento").val(), personas: $("#txtCanPersonas").val(), municipio: $("#Municipio").val()},
                success: function (response) {
                    var total = '';
                    var cuerpo = '';
                    var encabezdoTabla = '<table id="example" class="display" style="width:100%"> <thead> <tr>';
                    encabezdoTabla += '<th>Id</th>';
                    encabezdoTabla += '<th>Lugar</th>';
                    encabezdoTabla += '<th>Alojamiento</th>';
                    encabezdoTabla += '<th>TipoAlojamiento</th>';
                    encabezdoTabla += '<th>CapacidadMaxima</th>';
                    encabezdoTabla += '<th>Valor</th>';
                    encabezdoTabla += '<th>Opciones</th>';
                    encabezdoTabla += '</tr> <thead><tbody>';
                    //$("#tablaExample").append(encabezdoTabla);
                    total = encabezdoTabla;
                    $.each(response, function (i, item) {
                        var tds = '<tr  id="filaCargada">';
                        tds += '<td>' + item.Id + '</td>';
                        tds += '<td>' + item.Lugar + '</td>';
                        tds += '<td>' + item.Alojamiento + '</td>';
                        tds += '<td>' + item.TipoAlojamiento + '</td>';
                        tds += '<td>' + item.CapacidadMaxima + '</td>';
                        tds += '<td>' + item.Valor + '</td>';
                        tds += '<td><input type="button" value="Reservar" id="btnBuscar" name="btnBuscar" onclick="create(' + item.Id + ')" class="btn btn-info " />|<input type="button" value="Detalle" id="btnDetalle" name="btnDetalle" onclick="Detalle(' + item.Id + ')" class="btn btn-info " /></td>';
                        tds += '</tr>';
                        //$("#tablaExample").append(tds);
                        cuerpo = cuerpo + tds;
                    });
                    total = total + cuerpo + '</tbody></table>';
                    $("#tablaExample").append(total);
                },
                error: function () {
                    alert("error");
                }
            });
        }
       

    }

    function create(parametro) {
        if ($("#fechaInicio").val() == '' || $("#fechaFin").val() == '') {
            alert("Debe seleccionar un rango de fecha para realizar la reserva");
        } else {
            var id = parametro + "," + $("#fechaInicio").val() + "," + $("#fechaFin").val();
            window.location.href = '/Reserva/create/' + id;
        }        
    }

    function Detalle(parametro) {
        window.location.href = '/Reserva/Details/' + parametro;
    }

    $("#fechaInicio").change(function () {
        fechaFin.min = new Date($("#fechaInicio").val()).toISOString().split("T")[0]
    });
</script>